<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="generallayout.html">
<head>
    <title>Login</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <form th:action="@{/app/login}" method="post" class="offset-md-4 col-md-4" style="margin-top: calc(50vh - 200px);">
                <div class="mb-5 text-center">
                    <img alt="Site Logo home" th:src="@{/images/ui-icons_444444_256x240.png}" style="width:90px; height:32px;">
                    <div class="h3">Health Insurance</div>
                </div>
                <div class="mb-2">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control"/>
                </div>
                <div class="mb-2">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control"/>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>
