<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout.html">
    <head>
        <title>New Customer</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div>New Customer</div>
            <form th:action="@{/customers/save}" th:object="${customer}" method="post" enctype="application/x-www-form-urlencoded">
                <div>
                    <label>Full Name</label>
                    <input type="text" name="fullname" th:field="*{fullname}" />
                </div>
            </form>
        </div>
    </body>
</html>