<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout.html">
    <head>
        <title>Customers</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="h3 mb-5">Customers</div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Plans</th>
                        <th>Plan Ids</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.id}"></td>
                        <td th:text="${customer.getUserAccount().fullname}"></td>
                        <td th:text="${customer.mobile}"></td>
                        <td th:text="${customer.email}"></td>
                        <td th:text="${customer.getUserAccount().username}"></td>
                        <td th:text="${customer.getUserAccount().password}"></td>
                        <td th:text="${customer.getPlanNames()}">
                        <td th:text="${customer.getPlanIds()}">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="panel"></div>
            <script th:inline="javascript">
                let winWidth, winHeight;
                let plans = /*[[${plans}]]*/ [];
                window.addEventListener("load",function(){
                    winWidth = window.innerWidth - 20;
                    winHeight = window.innerHeight - 20;
                    $("table").dataTable({
                        dom:"QBfltips",
                        select:true,
                        buttons:[
                            'excel','pdf','print'
                            ,{text:"New Customer",action:function(){
                                $("#panel").html(`
                                <form method="post" action="/customers/save">
                                    <div class="mb-2">
                                        <label>Fullname</label>
                                        <input type="text" name="fullname" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Mobile</label>
                                        <input type="tel" name="mobile" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Email</label>
                                        <input type="email" name="email" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Username</label>
                                        <input type="username" name="username" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Password</label>
                                        <input type="text" name="Password" class="form-control"/>
                                    </div>
                                    <button class="btn btn-primary">Save</button>
                                </form>
                                `).dialog({
                                    title:"New Customer",
                                    width:Math.min(500,winWidth),
                                    height:winHeight
                                })
                            }}
                            ,{text:"Edit Customer",action:function(ev, api){
                                let item = api.rows({selected:true}).data();
                                if(item.length == 0){
                                    alert("You must select a row");
                                    return;
                                }
                                item = item[0];

                                $("#panel").html(`
                                <form method="post" action="/customers/save">
                                    <input type="hidden" name="id" value="${item.id}"/>
                                    <input type="hidden" name="password" value="${item.password}"/>
                                    <div class="mb-2">
                                        <label>Fullname</label>
                                        <input type="text" name="fullname" value="${item.fullname}" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Mobile</label>
                                        <input type="tel" name="mobile" value="${item.mobile}" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Email</label>
                                        <input type="email" name="email" value="${item.email}" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Username</label>
                                        <input type="username" value="${item.username}" name="username" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Password</label>
                                        <input type="text" placeholder="Type value to change" class="form-control" onChange="setPasswordNameAtribute(this)"/>
                                    </div>
                                    <button class="btn btn-primary">Save</button>
                                </form>
                                `).dialog({
                                    title:"Edit Customer",
                                    width:Math.min(500,winWidth),
                                    height:Math.min(500,winHeight)
                                })
                            }}
                            ,{text:"Enroll Customer into Plan",action:function(ev, api){
                                let item = api.rows({selected:true}).data();
                                if(item.length == 0){
                                    alert("You must select a row");
                                    return;
                                }
                                item = item[0];
                                if(typeof item.planids == "string"){
                                    // console.log(item);
                                    item.planids = JSON.parse(item.planids);
                                }
                                // console.log(item);

                                $("#panel").html(`
                                <form method="post" action="/customers/subscribe">
                                    <input type="hidden" name="customer" value="${item.id}"/>
                                    <div class="mb-2">
                                        <div class="row">
                                            ${plans.filter(x=>!item.planids.includes(x.id)).map(x=>`
                                            <div class="col-auto">
                                                <input type="checkbox" name="plan" value="${x.id}" ${item.planids.find(y=>y == x.id) != undefined?"checked":""} />
                                                <label>${x.name}</label>
                                            </div>
                                            `).join("")}
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Save</button>
                                </form>
                                `).dialog({
                                    title:"Edit Customer",
                                    width:Math.min(500,winWidth),
                                    height:Math.min(500,winHeight)
                                })
                            }}
                            ,{text:"Record Customer Contribution",action:function(ev, api){
                                let item = api.rows({selected:true}).data();
                                if(item.length == 0){
                                    alert("You must select a row");
                                    return;
                                }
                                item = item[0];
                                if(typeof item.planids == "string"){
                                    // console.log(item);
                                    item.planids = JSON.parse(item.planids);
                                }
                                // console.log(item);

                                $("#panel").html(`
                                <form method="post" action="/customers/contribute">
                                    <input type="hidden" name="customer" value="${item.id}"/>
                                    <div class="mb-2">
                                        <select name="plan" require class="form-control">
                                            <option value="">-- Select Plan ---</option>
                                            ${plans.filter(x=>item.planids.includes(x.id)).map(x=>`
                                            <div class="col-auto">
                                                <option value="${x.id}">${x.name}</option>
                                            </div>
                                            `).join("")}
                                        </select>
                                    </div>
                                    <div class="mb-2">
                                        <label>Amount</label>
                                        <input name="amount" type="number" step="0.01" class="form-control" />
                                    </div>
                                    <div class="mb-2">
                                        <label>Period</label>
                                        <input name="period" type="text" class="form-control" placeholder="1/2024" />
                                    </div>
                                    <button class="btn btn-primary">Save</button>
                                </form>
                                `).dialog({
                                    title:"Record Customer Contribution",
                                    width:Math.min(500,winWidth),
                                    height:Math.min(500,winHeight)
                                })
                            }}
                        ],
                        columns:[
                            {data:"id",visible:false}
                            ,{data:"fullname"}
                            ,{data:"mobile"}
                            ,{data:"email"}
                            ,{data:"username"}
                            ,{data:"password",visible:false}
                            ,{data:"plans"}
                            ,{data:"planids",visible:false}
                        ]
                    });
                });
                function setPasswordNameAtribute(val){
                    if(val.value.length > 0){
                        val.setAttribute( "name","newpassword")
                    }else{
                        val.removeAttribute( "name","newpassword")
                    }
                }
            </script>
        </div>
        
    </body>
</html>