<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout.html">
    <head>
        <title>Users</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="h3 mb-5">Users</div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.fullname}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.password}"></td>
                        <td th:text="${user.permissions}"></td>
                    </tr>
                </tbody>
            </table>
            <div id="panel"></div>
            <script type="text/javascript" th:inline="javascript">
                let winWidth, winHeight;
                let permissions = /*[[${permissions}]]*/ [];
                window.addEventListener("load",function(){
                    winWidth = window.innerWidth - 20;
                    winHeight = window.innerHeight - 20;
                    $("table").dataTable({
                        dom:"QBfltips",
                        select:true,
                        buttons:[
                            'excel','pdf','print'
                            ,{text:"New User",action:function(){
                                $("#panel").html(`
                                <form method="post" action="/users/save">
                                    <div class="mb-2">
                                        <label>Fullname</label>
                                        <input type="text" name="fullname" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Username</label>
                                        <input type="username" name="username" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Password</label>
                                        <input type="text" name="Password" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <div class="row">
                                            ${permissions.map(x=>`
                                            <div class="col-auto">
                                                <input type="checkbox" name="permissions[]" value="${x}" />
                                                <label>${x}</label>
                                            </div>
                                            `).join("")}
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Save</button>
                                </form>
                                `).dialog({
                                    title:"New User",
                                    width:Math.min(500,winWidth),
                                    height:Math.min(350,winHeight)
                                })
                            }}
                            ,{text:"Edit User",action:function(ev, api){
                                let item = api.rows({selected:true}).data();
                                if(item.length == 0){
                                    alert("You must select a row");
                                    return;
                                }
                                item = item[0];

                                $("#panel").html(`
                                <form method="post" action="/users/save">
                                    <input type="hidden" name="id" value="${item.id}"/>
                                    <input type="hidden" name="password" value="${item.password}"/>
                                    <div class="mb-2">
                                        <label>Fullname</label>
                                        <input type="text" name="fullname" value="${item.fullname}" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Username</label>
                                        <input type="username" value="${item.username}" name="username" class="form-control"/>
                                    </div>
                                    <div class="mb-2">
                                        <label>Password</label>
                                        <input type="text" placeholder="Type value to change" class="form-control" onChange="setPasswordNameAtribute(this)"/>
                                    </div>
                                    <div class="mb-2">
                                        <div class="row">
                                            ${permissions.map(x=>`
                                            <div class="col-auto">
                                                <input type="checkbox" name="permissions[]" value="${x}" ${item.permissions.indexOf(x) != -1?"checked":""} />
                                                <label>${x}</label>
                                            </div>
                                            `).join("")}
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Save</button>
                                </form>
                                `).dialog({
                                    title:"Edit Customer",
                                    width:Math.min(500,winWidth),
                                    height:Math.min(500,winHeight)
                                })
                            }}
                        ],
                        columns:[
                            {data:"id",visible:false}
                            ,{data:"fullname"}
                            ,{data:"username"}
                            ,{data:"password",visible:false}
                            ,{data:"permissions"}
                        ]
                    });
                });
                function setPasswordNameAtribute(val){
                    if(val.value.length > 0){
                        val.setAttribute( "name","newpassword")
                    }else{
                        val.removeAttribute( "name","newpassword")
                    }
                }
            </script>
        </div>
        
    </body>
</html>